p{
    text-align: center;
    font-size: 21px;
}

.content{
    position: relative;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}


.descripciones{
    grid-column: span 2 / span 2;
}

@media (max-width: 850px){
    form{
        grid-template-columns: 1fr;
    }

    .descripciones{
        grid-column: 1 / -1;
    }
}