p{
    text-align: center;
    font-size: 21px;
}

mat-dialog-actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content{
    position: relative;
}

.formMateriaPrimaPrincipal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.formMateriaPrimaDetalles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.materiaPrima{
    grid-column: span 2 / span 2;
}

@media (max-width: 850px){
   .formMateriaPrimaPrincipal{
    grid-template-columns: 1fr;
   }

   .formMateriaPrimaDetalles{
    grid-template-columns: 1fr;
   }

   .materiaPrima{
    grid-column: 1 / -1;
   }
}