@if(!ciudad){
    <p>REGISTRAR CIUDAD</p>
}@else {
    <p>EDITAR CIUDAD</p>
}

@if(formCiudad){
    <div class="content">
    
        <form [formGroup]="formCiudad">
            <mat-form-field appearance="outline">
                <mat-label>Ciudad </mat-label>
                <input type="text" matInput formControlName="nombreCiudad"/>
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Pais </mat-label>
                <mat-select formControlName="idPais">
                    @for(pais of paises; track pais){
                        <mat-option [value]="pais.idPais">{{pais.nombrePais}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix>south_america</mat-icon>
            </mat-form-field>
        </form>
    
    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close="" (click)="closeModal()"><mat-icon>close</mat-icon>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveCiudad()" [disabled]="formCiudad.invalid"><mat-icon>check</mat-icon>
            @if (!ciudad) {
                Registrar
            } @else {
                Actualizar  
            }
        </button>
    </mat-dialog-actions>
}
